.capaLogin {
    position: absolute;
    padding: 5px;
    width: 50%;
    height: 50%;
    top: 25%;
    left: 25%;
    border-bottom: 1px solid black;
}

.panelLogin {
    position: absolute;
    width: 40%;
    height: 45%;
    top: 40%;
    left: 55%;
}

.obligatorio {
    color: red;
}

.ui-messages-error-icon {
    color: red;
}